@import url(http://fonts.googleapis.com/earlyaccess/droidarabicnaskh.css);
@import url(http://fonts.googleapis.com/earlyaccess/droidarabickufi.css);
@font-face {
  font-family: 'Open Sans Light';
  src: url('https://mozorg.cdn.mozilla.net/media/fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'), url('https://mozorg.cdn.mozilla.net/media/fonts/OpenSans-Light-webfont.woff') format('woff'), url('https://mozorg.cdn.mozilla.net/media/fonts/OpenSans-Light-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, hr, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figure, figcaption, hgroup, menu, footer, header, main, nav, section, summary, time, mark, audio, video {
  padding: 0;
  margin: 0;
  font-size: 13px;
  font-family: 'Open Sans Light', 'Droid Arabic Naskh', sans-serif;
}
a {
  color: #0096dd;
  text-decoration: none;
}
a:hover, a:focus, a:active {
  color: #0073aa;
  text-decoration: underline;
}
a:visited {
  color: #0073aa;
}
.header {
  width: 100%;
  background-color: rgba(255, 0, 0, 0.4);
}
.intro-head {
  background-color: #C13832;
  width: 100%;
}
.header-menu {
  width: 900px;
  margin: 0 auto;
  position: relative;
}
#tabzilla:before {
  background-color: #C13832;
}
.quote {
  width: 100%;
  padding: 50px 0px 20px;
  text-align: center;
}
.cover {
  background-image: url(assets/5878749928_2447ff568d_o.jpg);
  height: 420px;
  width: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
}
.cover-title {
  font-size: 52px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #FFF;
  text-shadow: 0px 1px 1px #000;
  z-index: 3;
  position: relative;
  width: 100%;
  text-align: center;
  padding-top: 10px;
}
.cover-title img {
  display: block;
  margin: 0 auto;
}
.cover-sub-title {
  font-size: 32px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #FFF;
  text-shadow: 0px 1px 1px #000;
  z-index: 3;
  position: relative;
  width: 100%;
  text-align: center;
  padding-top: 20px;
}
.dimming-shim {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
}
.header-action-menu {
  width: 100%;
  height: 70px;
  display: flex;
}
.action-menu-button {
  width: 25%;
  height: 100%;
  color: white;
  font-family: 'Droid Arabic Kufi';
  font-size: 26px;
  line-height: 68px;
  text-align: center;
  cursor: pointer;
}
.action-menu-button:hover {
  text-decoration: underline;
}
.button-blue {
  background-color: #1DADE2;
}
.button-green {
  background-color: #00AF84;
}
.button-yellow {
  background-color: #FDB12A;
}
.button-red {
  background-color: #FB114E;
}
.button-purple {
  background-color: #95368C;
}
.header-action-detail p {
  margin: 0 40px;
  margin-top: 0;
  padding: 40px 0;
  font-size: 20px;
  color: white;
  line-height: 45px;
}
.action-btn-label:link, .action-btn-label:active, .action-btn-label:hover, .action-btn-label:visited {
  color: #FFF;
  background: #03845c;
  width: auto;
  height: auto;
  font-size: 17px;
  padding: 0 15px;
  border: 4px solid #005A3E;
  display: inline-block;
  margin-top: 5px;
}
.action-btn-label:hover {
  text-decoration: none;
}
.action-btn-label span {
  font-size: 25px;
  line-height: 28px;
}

/** Who Are We section */

.whoarewe {
  width: 100%;
  margin: 0 auto;
  padding-top: 30px;
}
.whoarewe-wrapper {
  display: flex;
}
.videowrapper {
  width: 560px;
  height: 315px;
}
.textwrapper {
  font-size: 20px;
  color: #484848;
  text-align: right;
  letter-spacing: -1px;
  font-weight: 300;
  padding: 40px;
}
.whoarewe h2 {
  font-size: 30px;
  color: #484848;
  text-align: center;
  margin-bottom: 40px;
  letter-spacing: -1px;
  font-weight: 300;
  font-family: 'Droid Arabic Kufi';
}

/** */

.mozilla-is-you {
  width: 100%;
  padding: 40px 0;
  color: white;
  display: flex;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3f4c6b+0,3f4c6b+100;Blue+Grey+Flat */
  background: #3f4c6b;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjM2Y0YzZiIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzNmNGM2YiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background: -moz-linear-gradient(-45deg, #3f4c6b 0%, #3f4c6b 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #3f4c6b), color-stop(100%, #3f4c6b));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg, #3f4c6b 0%, #3f4c6b 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg, #3f4c6b 0%, #3f4c6b 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg, #3f4c6b 0%, #3f4c6b 100%);
  /* IE10+ */
  background: linear-gradient(135deg, #3f4c6b 0%, #3f4c6b 100%);
  /* W3C */
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#3f4c6b', endColorstr='#3f4c6b', GradientType=1);
  /* IE6-8 fallback on horizontal gradient */
}
.mozilla-is-you .title {
  color: white;
  font-weight: bold;
  font-size: 2rem;
  font-family: 'Droid Arabic Kufi';
  text-align: center;
  margin: 2rem auto;
  display: block;
}
.mozilla-is-you .title .mozdescription {
  font-size: 1.3rem;
  font-weight: normal;
  display: block;
  text-align: center;
  margin: 1rem;
}
.mozilla-is-you .faces {
  display: block;
  margin: 0 auto;
}
.mozilla-is-you .faces .onemozillian {
  display: inline-block;
  width: 120px;
  height: 120px;
  margin: 1rem;
  display: inline-block;
  border-radius: 100%;
  background-clip: padding-box;
  border: 5px solid #FFF;
  box-shadow: 0px 0px 2px rgba(0, 2, 2, 0.2);
  -moz-background-clip: padding-box;
}
.mozilla-is-you .faces .onemozillian img {
  border-radius: 100%;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  width: 100%;
  height: 100%;
  display: block;
}

/** Blog Posts Section */

.blog-posts {
  width: 100%;
  height: 500px;
  background-color: #F6F4EC;
}
.blog-posts .container {
  position: relative;
  padding: 50px 0px 30px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
}
.blog-posts h2 {
  font-size: 30px;
  color: #484848;
  text-align: center;
  margin-bottom: 3rem;
  letter-spacing: -1px;
  font-weight: 300;
  font-family: 'Droid Arabic Kufi';
}
.posts-container {
  //display: flex;
  margin: 0 auto;
  width: 1260px;
}
.big-title-container {
  margin: 0 40px;
  text-align: left;
  display: flex;
  float: right;
}
.big-title-container .date-published {
  font-size: 2.3rem;
  border-radius: 50%;
  background-color: #C13832;
  width: 7rem;
  height: 7rem;
  min-width: 7rem;
  min-height: 7rem;
  color: white;
  text-align: center;
}
.big-title-container .post-details {
  margin-top: 1rem;
}
.big-title-container .post-details a {
  color: #565A5C;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: right;
  margin-right: 1rem;
  font-family: "Droid Arabic Kufi";
  display: block;
}
.big-title-container .post-details .post-author {
  font-size: 1.1rem;
  color: #565A5C;
  text-align: right;
  font-weight: bold;
  margin-right: 1rem;
}
.other-articles-list {
  margin: 0 40px;
  text-align: left;
  float: left;
}
.one-post-item {
  display: flex;
  margin-bottom: 1rem;
}
.one-post-item .date-published {
  font-size: 1.3rem;
  border-radius: 50%;
  border: 2px solid #C13832;
  width: 4rem;
  height: 4rem;
  min-width: 4rem;
  min-height: 4rem;
  text-align: center;
  color: #565A5C;
}
.one-post-item .post-details {}
.one-post-item .post-details a {
  color: #565A5C;
  font-size: 1.1rem;
  font-weight: bold;
  text-align: right;
  margin-right: 1rem;
  font-family: "Droid Arabic Kufi";
  display: block;
}
.one-post-item .post-details .post-author {
  font-size: 1rem;
  color: #565A5C;
  text-align: right;
  font-weight: bold;
  margin-right: 1rem;
}
.see-more {
  display: inline-block;
  min-width: 200px;
  padding: 10px 40px;
  text-align: center;
  background-color: #F6F4EC;
  border: 2px solid #E3E1D9;
  border-radius: 10px;
  transition: all 0.2s ease-in-out 0s;
}

/* download firefox section */

.download-firefox {
  background-color: #565A5C;
  padding: 4rem 0;
}
.download-firefox .download-container {
  width: 1000px;
  height: 100%;
  display: flex;
  margin: 0 auto;
}
.download-firefox .download-container .firefox-download-logo {
  width: 380px;
}
.download-firefox .download-container .description {
  color: white;
  font-size: 3rem;
  line-height: 4.5rem;
  text-align: center;
  width: 360px;
}
.download-firefox .download-container .download-action {
  vertical-align: middle;
  margin-top: 1rem;
  width: 260px;
  margin-right: 7px;
  text-align: center;
}
.download-firefox .download-container .download-action .download-button {
  background-color: #689F2A;
  color: #FFF;
  text-decoration: none;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.25);
  font-weight: normal;
  font-size: 1.7rem;
  border-radius: 6px;
  min-width: 8rem;
  padding: 0rem 4rem;
  font-family: "Droid Arabic Kufi";
  display: block;
  height: 70px;
  line-height: 70px;
  transition: all 0.25s linear 0s;
  text-align: center;
  margin-bottom: .5rem;
}
.download-firefox .download-container .download-action .download-button:hover {
  background-color: #70AB2D;
}
.download-firefox .download-container .download-action .download-other, .download-firefox .download-container .download-action .download-other a {
  width: 100%;
  margin-top: .5rem;
  color: #FFF;
  text-decoration: none;
  font-size: 1rem;
}

/** subscribe section */

.subscribe-mailing-list {
  padding: 4rem 0;
  background-color: #2D8BD9;
}

/** Footer section */

#footer {
  color: #F6F4EC;
  padding: 40px 0;
  font-size: 12px;
  width: 100%;
  margin: 0px;
  background: #565A5C;
}
